
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.btn-primary{
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
}
.btn-primary:hover{
    background-color: #FFFFFF;
    color: #006A50;
}
.title{
    font-weight: bold;
    font-size: 40px;
}

.mini-title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
}


.subtitle{
    font-weight: normal;
    font-size: 16px;
}
.text-align{
    text-align: center;
}


/* body styles */
body{
    background-color: #F5F5F5;
}
main, header{
    max-width: 1280px;
    margin: 0 160px;
    
}


/* nav style */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-weight: bold;
    font-size: 32px;
}

.nav-btn{
    padding: 15px 30px;
    color: #006A50;
    border: 1px solid  #006A50;
    border-radius: 8px;
}
.nav-btn:hover{
    background-color: #006A50;
    color: white;
}


/* hero section */

 .hero{
    background-color: #C6E4D6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 60px 60px 60px;
    width: 60% 40%;
    border-radius: 24px;
 }
 .title-content{
    display: inline-block;
    flex-direction: column;
    

 }
.hero-subtitle{
    color: rgba(14, 14, 14, 0.5);
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 10px;
}

.hero-title{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}
.hero-btn{
    padding: 17px 34px;
    margin-top: 24px;
}

/* card style */

.card{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;

}
.card-box{
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
}
.card-tmg{
    margin-bottom: 24px;
}

/* color box */
.color-box-container{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.color-box{
    border-radius: 16px;
    padding: 32px;

}
.card-1{
     background: rgba(84, 144, 245, 0.2);
}

.card-2{
    background: rgba(198, 228, 214, 1);
}
.card-3{
     background: rgba(247, 235, 207, 1);
}
.btn-1{
    background-color: #5490F5;
    color: #FFFFFF;
    padding: 20px 11px;
    border-radius: 8px;
    width: 122px;
    font-weight: 600;
    font-size: 16px;
    border: none;


}
.btn-1:hover{
    background-color: #FFFFFF;
    color: #5490F5;


}
.btn-2{
    background-color: #09A15C;
    color: #FFFFFF;
    padding: 20px 11px;
    border-radius: 8px;
    width: 122px;
    font-weight: 600;
    font-size: 16px;
    border: none;

}

.btn-2:hover{
    background-color: #FFFFFF;
    color: #09A15C;


}

.btn-3{
    background-color: #FFC239 ;
    color: #FFFFFF;
    padding: 20px 11px;
    border-radius: 8px;
    width: 122px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    margin: auto;
 }
 .btn-3:hover{
    background-color: #FFFFFF;
    color: #FFC239;


}


/* younous section style */
.yonous{
    
    background-color: #FFFFFF;
    border-radius: 16px;

}

.younus-text{
    padding: 48px 24px;
    

}
.text{
    padding: 0;
    margin-bottom: 12px;
    background-image: url("assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top left;

}
.yonous h4{
    padding: 0;
    margin-bottom: 4px;
}
.hop{
    padding: 0px;
    margin: 0px;
}

/* jajera section */

.recent-news{
    margin-bottom: 80px;
}

.content-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 48px;
    margin-bottom: 24px;

}
.pix{
    margin-bottom: 32px;
}
.reverse{
    flex-direction: row-reverse;
}
.jajera-text-items{
    max-height: 290px;
}


.jajera-text{
    padding: 0;
    margin: 0;
    height: 100%;
     
}
.jajera-title{
    padding: 0;
    margin: 0;

}
.jajera-btn{
    padding: 13px 26px;
    margin: 0;

}
.sata {
    max-height: 306px;
}

.sata img{
    border-radius: 24px;
    height: 100%;
}


/* donation style */

.donation{
    margin-bottom: 80px;
}

.donation h3{
    margin-bottom: 0;
}


.taka-card-container{
    display: flex;
    gap: 24px;
    justify-content: space-evenly;
    


}

.taka-card button{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 40px;
}

.bg-white{
    background: rgba(255, 255, 255, 1);
}

.bg-green{
    background: #C6E4D6;
}

.taka-message{
    max-width: 1232px;

}


.taka-message input{
    width: auto;
    padding: 40px 400px;
    background: rgba(255, 255, 255, 1);
     color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    border: none;

}
.taka-btn{
    width: 151px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 34px 17px 34px;


}

.taka-btn button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 34px 17px 34px;
    
}

.taka-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    
}
 .taka-container p{
    margin-bottom: 0;
 }
 .taka-hover:hover{
    background-color: rgba(103, 192, 195, 1);
    color: white;
}
  

 /* newsletter ::selection */

 .newsletter{
    max-height: 395px;
    margin-bottom: 200px;
 }

 .news{
    background-color: #C6E4D6;
    padding: 80px 100px;
    border-radius: 24px;
   
    
 }

 .news h3{
    margin-bottom: 0;
 } 
 .input{
    display: flex;
    justify-content: center;

 }
 .input button{
    padding: 17px 34px;
    border: none;
    border-radius: 0 10px 10px 0;
 }
 .input input{
    height: 0;
    width: 600px;
    padding: 40px 18px;
    border: none;
    border-radius: 10px 0 0 10px;
 }
 .news-description{
    margin: 30px 120px 40px 120px;
 }

 /* footer section  */

 .Bangladesh{
    background-color: #FFFFFF;
    padding: 60px 50px;

 }

 .icon ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 23px;
 }

